@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@import "tailwindcss";
@custom-variant hover (&:hover);



@theme {
--font-family: "Nunito", sans-serif;
--color-primary: #163a34;
--color-secondary: #395852;
--color-light-neutral-300: #d0dcd9;
--color-light-neutral-200: #e0ebe3;
--color-light-neutral-200: #e0ebe3;
--color-light-neutral-100: #f6f5f1;
--color-light-neutral-0: #ffffff;

--color-orange-500: #fe9f6b;
--color-green-500: #49ac9b;
--color-indigo-500: #697dáb;



}

body { 
  font-family: var(--font-family); 
  background-color: var(--color-light-neutral-100); 
  color: var(--color-primary) ;
};